/* Error: Undefined mixin.
 *     ,
 * 103 | /         @include desktop__responsive {
 * 104 | |             font-size: 32px;
 * 105 | \         }
 *     '
 *   scss/pages/_index.scss 103:9  @import
 *   scss/style.scss 2:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 103 \2502  \250c          @include desktop__responsive {\a 104 \2502  \2502              font-size: 32px;\a 105 \2502  \2514          }\a     \2575 \a   scss/pages/_index.scss 103:9  @import\a   scss/style.scss 2:9           root stylesheet";
}
