// General 
@import "./homepage.scss"; 




// colors
$primary-color: #9356DC;
$secondary-color:#FF79DA;
$tertiary-color: #99E2D0;
$icon-gray: #7e7e7e;



//Fonts
$font-family-text: "Roboto", sans-serif;
$font-family-logo-titre: "Shrikhand", serif; 

:root{
    --main-bg-color:#FFFFFF; // Gris
    --main-color: #F6F6F6;
    --footer-bg-color: #353535;

}

body {
    min-width: 375px;
   margin: 0;
   padding: 0;
}

h1,h2,h3,p {
    font-family: $font-family-text;
    margin: 0;
}

.header.fa-arrow-back {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 17px;
    left: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-arrow-back {
    width: 17px;
    height: 16px;
    color: #353535;
    font-size: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
}



.header.logo {
    height: 63px;
}

.header-logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    box-shadow: 0px 2px 4px 0px #00000026;
}

.header-logo img {
    height: auto;
    width: 43.2%;
    padding: 14px 89px 0px 89px;
}

.header-location {
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 17px;
    background: #EAEAEA;
    box-shadow: 0px 4px 4px 0px #00000040;


}
i.fa-location-dot {
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
}

input {
    
    font-size: 16px;
    background-color: #353535;

    border: none;
    background-color: #EAEAEA;
    
}
.main-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 32px;
    background-color: var(--main-color);
}

.search-wrapper {   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
// Centrage à faire
.search-heading {    
    width: 70%;
    height: 68px;
    position: relative;
    left: 42px;
    display: flex;
    align-items: center;
    text-align: center;
}

.search-discover {
    width: 90.7%;
        h2 {
            height: 46px;
            width: 92.614%;
            font-weight: 300;
            font-size: 18px;
            display: flex;
            align-items: center;
            text-align: center;
            position: relative;
            left: 28px;
        }
}

.search-button {
    display: flex;
    width: 218px;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 82px;
    border-radius: 25px;
    margin-top: 27px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
        a {
            color: #FFFFFF;
        }
}
// FONCTIONNEMENT
.functioning-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    align-items: center;
    background: var(--main-bg-color);

}
.functioning-title {
    width: 275px;
    height: 31px;
    position: relative;
    left: 20px;
}
.functioning-options {
    width:322px;
    height: 72px;
}

.functioning-options-row {
    border-radius: 20px;
    background: var(--main-color);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}



img {
    width: 100%;
    height: 105px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
    
  
  


