


//* Mixin
/// Headings

/**** Logo ****/

@mixin cursive__logo {
    font-size: 18px;
    font-family: 'shrikhand';
}

@mixin footer__logo {
    @include cursive__logo;  
    @include large__responsive;
    @include huge__responsive;
}

@mixin header__logo {
    font-size: 32px;
}

/**** titre d'en tête ****/
@mixin title__heading {
    font-size: 24px;
    line-height: normal;
    font-weight: map-get($font-weight,bold);

    @include huge__responsive {
        font-size: 40px;
    }
}


@mixin large__responsive {
    width: 137px;
    margin: 0;

}

@mixin huge__responsive {
    font-size: 32px;
    width: 137px;
    margin: 0;
}

/**** cercle ****/
@mixin circle {
    border-radius: 50%;
}
/**** Shadow ****/
@mixin object-shadow ($color: $shadow) {
    box-shadow: 0 4px 10px 0 $color;

}

@mixin degree {
    -moz-drag-over: 357deg;
}
/**** gradient ****/
@mixin gradient ($oriantation: $degree) {
    background:linear-gradient( $degree, $color-primary, $color-secondary);
}

//**** Responsive ****/

@mixin large__responsive {
    @media all and (min-width: map-get($breakpoints, large)) {
        @content;
    }
}


@mixin huge__responsive {
    @media all and (min-width: map-get($breakpoints, huge)) and (max-width: map-get($breakpoints, max-huge)) {
        @content;
    }
}