//* Variables
/**** Width ****/
$whiteMobile: 90%;

/**** Couleurs ****/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$grey: #EAEAEA;
$white: #FFFFFF;
$shadow : #d5d5d5;
$black: #353535;
$LightGray: #F6F6F6;
$icon: #7E7E7E;

//* Texte général
/**** font weight ****/
$font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
);

/* Gradient */
$gradient-loader : linear-gradient(to top, lighten($color-primary, 10%), $color-secondary, transparent, transparent);

/**** Degree Gradient ****/
$degree: 357deg;

/* Spinner délai d'animation*/
$icons-delay: 610ms;


/**** Responsive ****/
$breakpoints: (
    table: 768px,
    desktop: 1024px,
);


