
//* A FAIIIRRRRREEE ! */
/* Gradient */
$gradient-loader : linear-gradient(to top, lighten($color-primary, 10%), $color-secondary, transparent, transparent);


/* Degree Gradient */
$degree: 357deg;


/* Loading spinner animation delay */
$icons-delay: 610ms;

