
//* GENERAL
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.body {
    width: 100%;
    margin: auto;
}

.header {
    padding: 2%;
    box-shadow: inset 0px -10px 7px -6px #d5d5d5;

    &__logo {
        margin: 0;
        text-align: center;
        @include cursive__logo;
    }

    /** ARROW **/

    &__withorrow {
        position: relative;
    }

    &__goback {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 5%;
        width: 20px;
        height: 20px;
        top: 35%;
        font-size: 20px;

        @include huge__responsive;
    }
}


//* LOCALISATION 

.info__location {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: darken($white, 8%);
    box-shadow: inset 0 10px 8px -5px $shadow;
    gap: 17px;
}

.info__icon {
    display: flex;
    align-items: center;
}

.info__form {
    position: relative;
    display: flex;
    align-items: center;
    width: 109px;

    .info__city {
        border: transparent;
        background-color: $grey;
    }

    .placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $black;
        pointer-events: none;
    }
    .info__city:focus + .placeholder {
        display: none;
    }
}

//* HERO *//

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px 0;
    background-color: darken($white, 4%);
    text-align: center;

    &__title {
        width: 70%;
        margin: 10px 0;
        @include title__heading;
    }

    & p {
        width: 86%;
        margin: 0;
        font-size: 18px;
        font-weight:map-get($font-weight, light);
    }
}

.hero__btngradient{
    width: 218px;
    height: 50px;
    color: $white;
    font-size: 16px;
    @include gradient;
    border-radius: 25px;
    border: none;
    font-weight: map-get($font-weight, medium );
    @include object-shadow;
    cursor: pointer;
    margin: 27px 75px 57px 82px;
    transition: opacity 400ms ease-in-out;

    &:hover {
        transform: scale(1.02);
        opacity: 0.83;
        @include object-shadow(darken($shadow, 15%));
    }

    &--long {
        width: 50%;
        min-width: 150px;
        max-width: 250px;
    }

}



//* FUNCTIONING *//

.functioning {
    width: $whiteMedium;
    margin: auto;
    padding: 50px 0;

    &__title {
        margin: 10px 0;
        @include title__heading;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 95%;
        padding-bottom: 10px;
        margin: auto;

        @include huge__responsive {
            width: 98%;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.functioning__step {
    display: flex;
    align-items: center;
    height: 72px;
    margin: 15px 0;
    border-radius: 20px;
    border: none; 
    gap: 4%;
    background-color: darken($LightGray, 0);
    @include object-shadow;

    @include huge__responsive {
        width: 30%;
    }
    
    &:hover {
        background-color: lighten($color-primary, 35%);
        @include object-shadow(darken($shadow, 10%));

        &>.functioning__step--icon {
            color: $color-primary;
        }
    }
    
    &--number {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        left: -13px;
        bottom: -5px;
        height: 24px;
        width: 24px;
        @include circle;
        color: $white;
        background-color: $color-primary;
        padding: 1%;
    }
        
    &--icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 25px;
        color: $icon;
    }

    &--subtitle {
        width: 211px;
        height: 15px;
        font-weight: 600;
    }
}

//* RESTAURANTS *//

.restaurant {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding:20px 0 66px 0;
    background-color: $LightGray;

    &__title {
        width: $whiteMedium;
        margin: 20px auto;
        @include title__heading;
    }

    &__bloc {
        width: $whiteMedium;
        margin: auto;
        @include huge__responsive;

        @include large__responsive {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.restaurant__cards {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 251px;
    margin: auto ;
    margin-bottom: 18px;
    border-radius: 15px;
    background-color: $white;
    @include object-shadow;
    @include huge__responsive;
    

    @include large__responsive {
        width: 48%;
        margin: 0;
        margin-bottom: 4%;
    }

    &:hover {
        @include object-shadow(darken($shadow, 10%))
    }

    &--img {
        position: relative;
        overflow: hidden;
        height: 175px;
        border-radius: 15px 15px 0px 0px;

        & img {
            width: 100%;
            height: 175px;
            object-fit: cover;
        }

        &--markerinfo {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 15px;
            top: 12px;
            width: 80px;
            height: 30px;
            border-radius: 2px;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
            font-weight: map-get($font-weight, medium);
        }
    }

    &--info {
        display: flex;
        align-items: flex-start;
        height: auto;
        min-height: 75px;
        padding: 15px;

        &--text {
            width: 90%;
        }

        & h4, p {
            margin: 0;
        }
        
        & h4 {
            width: 267px;
            height: 20px;
            margin-bottom: 5px;
            font-size: 18px;
        }

        & p {
            height: 24px;
            font-weight: 300;
            font-size: 17px;
        }
    }

    &--like {
        position: absolute;
        top: 76%;
        right: 7%;
        font-size: 25px;
    }
}



//** FOOTER **//

.footer {
    width: 100%;
    padding: 22px 25px;
    background-color: darken($white, 75%);
    color: $white;

    @include large__responsive {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-start;
        height: 114px;
        gap: 16px;
    }

    & p {
        margin: 5px 0;
    }

    &__logo {
        margin: 0 0 16px 0;
        @include cursive__logo;
        font-size: 18px;

        @include huge__responsive {
            width: 137px;
            margin: 0;
        }
        @include large__responsive {
            width: 137px;
            margin: 0;
        }
    }

    &__bloc {
        display: flex;
        flex-direction: column;

        @include large__responsive {
            flex-direction: row;
            align-items: center;
            gap: 7px;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        font-weight: map-get($font-weight, medium);
        gap: 7px;

        @include large__responsive {
            width: 190px;
        }

        &--icons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 16px;
            height: 13px;
            font-size: 13px;
        }

        &--info {

            @include large__responsive {
               & p {
                   width: 130px;
                   height: 20px;
               }
           }
       }
    }
}


//*** RESPONSIVE TABLETS AND DESKTOP **//
$breakpoints: (
    large: 768px,  // Tablet
    huge: 1024px,  // Desktop
)
