//spécifie le conteneur pour le spinner de chargement
.loading-spinner-container {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $white;
    opacity: 0.95;
    animation: loading-appear 4s both ease-in-out; //Effet de transition avec un début et une fin lente
    z-index: 21;     //spécifie l'ordre de pile d'un élément ( le plus élevé apparait en premier)
    display: flex;
    align-items: center;
    justify-content: center;
}
//bloc principal qui contient assiette, ustensiles.. Il est positionné au centre de l'élément parent
.loading-spinner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    min-width: 290px;
    height: 290px;
    @include circle;
    background: $gradient-loader;
    z-index: 0;
    animation: rotate-gradient 3s infinite;
    //pour obscurcir le conteneur afin d'avoir un effet de fond blanc
    &::after {
        z-index: 0;
        position: absolute;
        content: "";
        width: 85%;
        height: 85%;
        background-color: $white;
        @include circle;
    }
    //pour créer un effet de bordure
    &__border {
        z-index: -1;
        position: absolute;
        width: 290px;
        height: 290px;
        background-color: $color-tertiary;
        @include circle;
    }
    //conteneur des ustensiles et de l'assiette
    &__plate {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        border: 4px solid darken($white, 60%);
        background-color: darken($white, 65%);
        margin: 0% 2%;
        @include circle;
        z-index: 3;

        &::before {
            position: absolute;
            display: flex;
            width: 93%;
            height: 93%;
            @include circle;
            border-bottom: 2px solid $white;
            background-color: transparent;
            transform: rotate(-25deg);
            overflow: hidden;
            content: "";
        }

        &::after {
            position: absolute;
            display: flex;
            width: 75%;
            height: 75%;
            @include circle;
            border: 4px solid $white;
            background-color: darken($white, 75%);
            overflow: hidden;
            content: "";
        }

        &__knife {
            position: absolute;
            right: -40%;
            height: 120px;
            width: auto;
            z-index: 6;
            opacity: 1;
            animation: ustensils-moving 500ms $icons-delay; //animation utilisée pour les faire bouger en boucle.

            & img {
                height: 100%
            }
        }

        &__fork {
            position: absolute;
            left: -40%;
            height: 120px;
            width: auto;
            z-index: 5;
            opacity: 1;
            animation: ustensils-moving 500ms $icons-delay*3;

            & img {
                height: 100%;
            }
        }
        //élément qui contient le "coeur", ::after et ::before en sont les 2 parties animées
        &__food{
            width: 25%;
            height: 25%;
            z-index: 1;
            display: flex; 
            align-items: center;
            justify-content: center;

            &::before {
                position: absolute;
                top: 35%;
                right: 33%;
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 40px;
                content: "\f561";
                color: $color-tertiary;
                transform: translateY(-150px);  // Déplacement vertival (axe y)
                animation: icons-appearing $icons-delay $icons-delay*2 both;
            }

            &::after {
                position: absolute;
                top: 30%;
                right: 37%;
                display: inline-block;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 40px;
                content: "\f7ef";
                color: $color-secondary;

                transform: translateY(-150px);
                animation: icons-appearing $icons-delay $icons-delay*3 both;
            }
        }
    }
}
